 <!DOCTYPE html>
<html>

    <head>
    <link type="text/css" rel="stylesheet" href="style.css"/>
	
	<script type="text/javascript" src="jquery-1.11.2.min.js"></script>
         <script type="text/javascript" src="jquery-ui.min.js"></script>
         <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFjuL_yijgO5m75RdCBy5mlMbh4jZKoBY"></script>
	<script type="text/javascript" src="gmap_locations.js"></script>
         
         
          
        
         </head>
    <body>
        <div id="map-canvas">
        </div>
         
    </body>
</html>
